<div class=" kebab col-sm-12">
    <h4 class="text-center" style="margin: 7px; color: white"> Zamow jedzenie! </h4>

    <div class="row">
        <!-- tu może być col-sm-6, col-md-6, col-lg-6 -->
        <!--lewy panel (dodwanie uczestników)-->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5> Zloz zamowienie</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputImie" class="col-sm-3 col-form-label">Imię</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputImie"
                                       ng-model="nImie" placeholder="Imię">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNazwisko" class="col-sm-3 col-form-label">Potrawa</label>
                            <div class="col-sm-9">
                                <select list="jedzenie"  class="form-control" id="inputNazwisko"
                                       ng-model="nNazwisko" placeholder="Potrawa">

                                    <option value="kebab">Kebab</option>
                                    <option value="Pizza">Pizza</option>
                                    <option value="Falafel">Falafel</option>



                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputWynik" class="col-sm-3 col-form-label">Ilosc</label>
                            <div class="col-sm-9">
                                <select list="number" class="form-control" id="inputWynik"
                                       ng-model="nWynik" placeholder="Ilosc">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" ng-click="dodajUsera(nImie, nNazwisko, nWynik)"
                                        class="btn btn-primary">Zamow</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <!-- Prawy panel: wyniki konkursu -->
        <!-- Komentarze: Ctrl+/ -->
        <div class="col-lg-8">

            <div class="card">
                <div class="card-header">
                    <h5>Lista zamowien</h5>
                </div>

                <div class="card-body">

                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-light">
                            <th width="30%"  class="clickable" ng-click="sortImie()"> Imię</th>
                            <th width="30%"  class="clickable" ng-click="sortNazwisko()"> Potrawa</th>
                            <th width="10%"  class="clickable"> Ilosc</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="u in uczestnicy">
                            <td>{{u.imie}}</td>
                            <td>{{u.nazwisko}}</td>
                            <td>{{u.wynik}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>












</div>
